@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
section{
	margin: 0;
	padding: 0;
}

/* Colors */
/* 
Primary Color - Warm Brown:#8B4513
Secondary Color - Soft Blue:#4682B4
Accent Color - Golden Yellow :#FFD700
Text Color - Dark Gray:#333333
*/
/* Styles for the preloader container */
.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 69, 19, 0.9); /* Background color */
    z-index: 9999; /* Ensure the preloader appears above other content */
  }
  
  /* Styles for the preloader */
  .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Animation for color change */
  @keyframes colorChange {
    0%, 100% {
      fill: white; /* Initial and Final color */
    }
    50% {
      fill: #FFD700; /* Intermediate color */
    }
  }
  
  /* Apply animation to SVG paths */
  .preloader #main {
    animation: colorChange 1.5s ease-in-out infinite; /* Adjust duration and timing as needed */
  }
  
  .preloader #left {
    animation: colorChange 1.5s ease-in-out infinite 0.3s; /* Delayed start */
  }
  
  .preloader #right {
    animation: colorChange 1.5s ease-in-out infinite 0.6s; /* Delayed start */
  }
  
  .preloader #left-middle {
    animation: colorChange 1.5s ease-in-out infinite 0.9s; /* Delayed start */
  }
  
  .preloader #right-middle {
    animation: colorChange 1.5s ease-in-out infinite 1.2s; /* Delayed start */
  }

/* Style the header */
header {
    background-color: #8B4513;
    color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
	font-size: 20px;
}

/* Style the logo */
.logo img {
    height: 100px;
    width: 150px;
    padding-left: 30px;
    
}

/* Style the navigation menu */
nav .nav-links {
    list-style: none;
}

nav .nav-links li {
    display: inline;
    margin-right: 30px;
}

nav .nav-links li:last-child {
    margin-right: 0;
}

nav .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #FFD700; /* Change the color on hover */
}

/* Hide the search bar initially */
/* Search bar styles */
.search-bar {
    display: none; /* Initially hide the search bar */
    position: relative; /* Ensure proper positioning */
    margin-top: 10px; /* Add some top margin */
}

.search-bar input[type="text"] {
    padding: 10px;
    width: calc(100% - 100px); /* Adjust input width */
    border: none;
    border-bottom: 2px solid #ccc; /* Add bottom border */
    font-size: 16px;
    outline: none; /* Remove default input focus outline */
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #FFA500;
    border: none;
    border-radius: 0 5px 5px 0; /* Rounded corners only on the right side */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-bar button:hover {
    background-color: #0056b3;
}

/* Suggestions container styles */
#suggestions {
    position: absolute;
    top: 100%; /* Position below the search bar */
    left: 0;
    width: calc(100% - 2px); /* Adjust width to match the search bar */
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none; /* Hide top border */
    border-radius: 0 0 5px 5px; /* Rounded corners only on the bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    z-index: 999; /* Ensure it's above other elements */
    display: none; /* Initially hide suggestions */
}

/* Suggestion item styles */
.suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestion:hover {
    background-color: #f0f0f0;
}
/* Media query for responsive design */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-bottom: 10px;
    }

    /* Add a menu icon for small screens */
    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}
/* Style the hero section */
.hero {
    position: relative;
    text-align: center;
    color: #fff; /* Text color is white for contrast */
	height: 75vh;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place video behind content */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px); /* Apply a blur effect to the video */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

/* Add an overlay with a brownish color */
.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 69, 19, 0.6); /* Use a brownish color with opacity */
    z-index: 1; /* Place the overlay above the video */
}


.hero-content {
    position: relative; /* Make sure content is above the overlay */
    padding: 100px 0; /* Adjust padding as needed */
}

.hero h1 {
    font-size: 3.2rem; /* Adjust font size as needed */
    margin-bottom: 20px;
	font-family: 'Lobster Two', cursive;
}

.hero p {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 40px;
	font-family: 'Playfair Display', serif;
}

.explore-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700; /* Use the primary color accent */
    color: #333; /* Text color is dark for contrast */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem; /* Adjust font size as needed */
    border-radius: 50px;
	font-family: 'Playfair Display', serif;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #FFA500; /* Change color on hover */
	transform: scale(1.2) translateY(10px);
	transition: .4s;
}
.btn-warning:hover{
	background-color: #FFA500; /* Change color on hover */
	transform: scale(1.2) translateY(10px);
	transition: .4s;
}
.explore-button2:hover {
    background-color: #FFA500; /* Change color on hover */
	transform: scale(1.2) translateY(10px);
	transition: .4s;
}
.card{
	margin-right: 5px;
	display: flex;
    text-align: center;
    height: 420px;
    width: 350px;
	
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.side-nav-header{
    font-family: 'Playfair Display', serif; 
    font-size: 22px;
    font-weight: bold;
    background-color: #8B4513;
    transition: .3s;
}
.card-title{
    font-family: 'Playfair Display', serif; 
    color: #4682B4;  
}
.puppy-properties{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Playfair Display', serif ;
    font-weight: bold;
}
.card-text{
    text-decoration: none;
    list-style: none;
    
}
.header h2{
    font-family: 'Lobster Two', cursive;
    font-size: 3.0rem;
    color: #4682B4;
}
.abt{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.abt-img{
    border-radius: 50%;
    width: 290px;
    height: 290px;
    border: 10px solid #8B4513;
    float: right;
    margin-left: 100px;
    margin-top: 30px;
    background-position: center;
    object-fit: cover;
}
.abt-text{
    font-family: 'Playfair Display', serif ;
    font-size: 25px;
    /* margin-right: 150px; */
}
.abt-img2{
    border-radius: 50%;
    width: 290px;
    height: 290px;
    border: 10px solid #FFA500;
    float: left;
    /* margin-left: 100px; */
    margin-top: 30px;
    background-position: center;
    object-fit: cover;
}
.abt-text2{
    font-family: 'Playfair Display', serif ;
    font-size: 25px;
    
    /* margin-left: 150px; */
   
}
.abt-img3{
    border-radius: 50%;
    width: 290px;
    height: 290px;
    border: 10px solid #4682B4;
    float: right;
    /* margin-left: 100px; */
    margin-top: 30px;
    background-position: center;
    object-fit: cover;
}
.abt-text3{
    font-family: 'Playfair Display', serif ;
    font-size: 25px;
    
    /* margin-left: 150px; */
   
}
.abt-header{
    margin-top: 80px;
    font-family: 'Lobster Two', cursive;
    color: #4682B4;
    font-size: 28px;
}
.footer{
    background-color: #8B4513;
    overflow-x: hidden;
}
.nav-item a:hover{
	color: #FFA500;
	transform: translateX(-12px);
}
.quick-link-header{
    font-family: 'Playfair Display', serif ;
    color: #fff;
    margin-top: 5px;
}
.quick-links{
    font-family: 'Playfair Display', serif ;
    color: #fff;
}
.quick-links ul li a:hover{
    color: #FFA500;
}
.copy{
    font-family: 'Playfair Display', serif ;
    color: #fff;
}
.explore-button2 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700; /* Use the primary color accent */
    color: #333; /* Text color is dark for contrast */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem; /* Adjust font size as needed */
    border-radius: 50px;
	font-family: 'Playfair Display', serif;
    transition: background-color 0.3s;
    
}
.pst {
    display: flex;
    gap: 1.5rem;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scroll-behavior: smooth; /* Smooth scrolling */
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition for post box changes */
  }
  
  .pst-box {
    flex: 0 0 calc((100% - 1.5rem) / 3);
    background: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 0.5rem;
    transition: transform 0.3s ease; /* Smooth transition for post box changes */
  }
  
  .arrow {
    font-size: 2rem;
    color: #333;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transition for arrow */
  }
  
  .arrow:hover {
    background-color: rgba(139,69,19, 1);
    transform: translateY(-50%) scale(1.1);
  }
  
.pst-img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
}
.category{
	font-size: 0.9rem;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--second-color);
}
.pst-title{
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--text-color);
	/*title to remain in 2 lines*/
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.pst-date{
	display: flex;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 4px;
}
.pst-description{
	font-size: 0.9rem;
	line-height: 1.5rem;
	margin: 5px 0 10px;
	/*description to remain in 3 lines*/
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
