.search-bar {
    display: block;
    margin: 20px auto;
    width: 60%;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Suggestions container styles */
#suggestions {
    position: absolute;
    width: 70%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 999; /* Ensure it's above other elements */
    background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity here */
    border: 1px solid #ccc; /* Optional: Add border */
}

/* Suggestion item styles */
.suggestion {
    padding: 5px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}