@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Reset some default styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.admin-header{
    background-color: #8B4513;
    margin-bottom: 10px;
    
}
.admin-header img{
    object-fit: contain;
    height: 100px;
    
}
.salutation{
    margin-top: 30px;
    margin-left: 25px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    float: right;
}
.menu-links{
    margin-top: 20px;
}
.menu-links a{
    background-color: #8B4513;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 10px ;
    color: #fff;
    border: 3px solid #FFA500;
    border-radius: 15px;
     
}
.btn-insert{
    padding: 10px;
    background-color: #8B4513;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 30px;
    transition: .3s;

}
.btn-insert:hover{
    background-color: #FFA500;
    color: black;
}
.input-group-text{
    font-family: 'Playfair Display', serif;
    color: #8B4513;
    font-size: 20px;  
}
.input-group span{
    background-color: #8B4513;
    color: #fff;
    
}
.add-breeds{
    text-align: center;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Playfair Display', serif;
}
.page-header{
    font-family: 'Lobster Two', cursive;
    color: #4682B4;
}
.form-outline label{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}
.form-outline input{
    font-family: 'Playfair Display', serif;
    font-size: 20px;  
}
.btn-login{
    padding: 10px;
    background-color: #FFA500;
    font-size: 17px;
    color: black;
    border: none;
    border-radius: 30px;
    transition: .3s;
}
.btn-login:hover{
    background-color: #4682B4;
    color: #fff;
    border: 1px solid #fff;
}